.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

:root{
    --Nutmeg: hsl(14, 45%, 36%);
    --Raspberry: hsl(332, 51%, 32%);
    --White: hsl(0, 0%, 100%);
    --RoseWhite: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --LightGrey: hsl(30, 18%, 87%);
    --WengeBrown: hsl(30, 10%, 34%);
    --DarkCharcoal: hsl(24, 5%, 18%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* font-family: "Young Serif", serif; */

/* font-family: "Outfit", sans-serif; */
body{
    font-family: "Outfit", sans-serif;
    font-weight: 400;
}
img{
    width: 100%;
}
p{
    color: var(--DarkCharcoal);
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5rem;
}
.container div:not(:first-child){
    margin: 0 1.8em;
    padding: 1.5em 0;
}
h1,h2{
    font-family: "Young Serif", serif;
    font-weight: 400;
}
h2{
    color: var(--Nutmeg);
}
h3{
    color: var(--Raspberry);
}

.preparation{
    border-radius: 10px;
    margin-top: 1em;
    padding: 1em;
    background-color: var(--RoseWhite);
}  
li::marker{
    color: var(--Nutmeg);
}
li{
    margin:10px 0;
    padding-left: 10px;
    margin-left: 2em;
    color: var(--DarkCharcoal);
}
b{
    color: var(--DarkCharcoal);
}
hr{
    display: none;
}
.instructions{
    border-top: 1px solid var(--LightGrey);
    border-bottom: 1px solid var(--LightGrey);
}
.ul-nuntritional{
    width: 100%;
}
.nutritional{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    margin: 0px;
    padding: 0.5rem 1.5rem;
    border-bottom: 0.5px solid var(--LightGrey);
}
.nutritional:last-child{
    border: none;
}
span{
    color: var(--Nutmeg);
    font-weight: 600;
}

@media (min-width:700px) {
    body{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--Eggshell);
    }
    .img{
        margin: 2em;
    }
    img{
        border-radius: 15px;
    }
    .container{
        border-radius: 15px;
        margin: 5em;
        width: 700px;
        background-color: var(--White);
    }
    h1{
        font-weight: 400;
    }
}